* {
    font-size: 16px;
    margin: 0.16rem;
}
A{
    font-size: x-large;
    color: magenta;
}
.center {
    margin-left: auto;
    margin-right: auto;
}
body {
    background-image: url("TEST.jpg");
}
.parent {
    margin: 1rem;
    padding: 2rem 2rem;
    text-align: right;
}
.child1 {
    display: inline-block;
    border: 1px;
    padding: 1rem 1rem;
    vertical-align: middle;
    background-color: black;
    color: white;
}
.child2{
    display: inline-block;
    border: 1px black;
    padding: 1rem 1rem;
    vertical-align: middle;
    background-color: black;
    color: white;
}
table, th, tr {
    border: 1px solid black;
    border-collapse: separate;
    background-color: cornflowerblue;
    text-align: center;
}
td {
    background-color: deepskyblue;
    text-align: center;
}
h1 {
    background-color: navy;
    color: red;
    font-size: xxx-large;
    text-align: center;
}
p{
    color: yellow;
    font-size: x-large;
    text-align: center;
}

h2 {
   color: yellow;
    font-size: xx-large;
    text-align: center;
}

